DocumentosDAW1/Lenguaje de Marca/xml/xml+dtd/piratas.dtd

<!ELEMENT piratas (biblioteca)>
<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (titulo, autor, fechaPublicacion)>
<!ELEMENT titulo (#PCDATA)>

<!ELEMENT autor (#PCDATA)>
<!ATTLIST autor fechaNacimiento CDATA #IMPLIED>

<!ELEMENT fechaPublicacion EMPTY>
<!ATTLIST fechaPublicacion año CDATA #REQUIRED>