DocumentosDAW1/Lenguaje de Marca/xml/examenxml/piratas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="piratas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pirata">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="datos_actor" use="required">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="apellidos" type="xs:string"/>
                                        <xs:element name="sexo">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="M"/>
                                                    <xs:enumeration value="F"/>
                                                    <xs:enumeration value="NB"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nacimiento" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="peliculas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pelicula" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="datos">
                                                        <xs:element name="titulo" type="xs:string"/>
                                                        <xs:element name="saga" type="xs:string"/>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="roles" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="rol">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tipo_rol">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="CAPITÃN"/>
                                                                <xs:enumeration value="TRIPULANTE"/>
                                                                <xs:enumeration value="GRUMETE"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="barco" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>