DocumentosDAW1/Lenguaje de Marca/xml/ejemplo(xml+dtd)/personas.dtd

<!ELEMENT personas (persona)>
<!ELEMENT persona (nombre, apellido, nacimiento, direccion, varon)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT nacimiento EMPTY>
<!ATTLIST nacimiento 
   dia CDATA #REQUIRED
   mes CDATA #REQUIRED
   anio CDATA #REQUIRED>
<!ELEMENT direccion (calle, poblacion, provincia, cpostal)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT cpostal (#PCDATA)>
<!ELEMENT varon EMPTY>