DocumentosDAW1/Lenguaje de Marca/xml/xml+dtd+schema+xslt/pokedex.dtd

<!ELEMENT pokedex (pokemon)>

<!ELEMENT pokemon (datos_generales, tipologia, stats_base, evoluciones)>
<!ATTLIST pokemon
    nombre CDATA #REQUIRED
    num_pokedex CDATA #REQUIRED>

<!ELEMENT datos_generales (altura, peso, sexo, categoria, habilidad)>
<!ELEMENT altura (#PCDATA)>
<!ELEMENT peso (#PCDATA)>
<!ELEMENT sexo (#PCDATA)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT habilidad (#PCDATA)>

<!ELEMENT tipologia (tipos, debilidades)>
<!ELEMENT tipos (tipo)>
<!ELEMENT tipo (descripci贸n)>
<!ELEMENT descripci贸n (#PCDATA)>
<!ELEMENT debilidades (debilidad)>
<!ELEMENT debilidad (tipo, efectividad)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT efectividad (#PCDATA)>

<!ELEMENT stats_base (ps, at, def, spat, spde, vel)>
<!ELEMENT ps (#PCDATA)>
<!ELEMENT at (#PCDATA)>
<!ELEMENT def (#PCDATA)>
<!ELEMENT spat (#PCDATA)>
<!ELEMENT spde (#PCDATA)>
<!ELEMENT vel (#PCDATA)>

<!ELEMENT evoluciones (evoluci贸n)>
<!ELEMENT evoluci贸n (orden, num_pokedex)>
<!ELEMENT orden (#PCDATA)>
<!ELEMENT num_pokedex (#PCDATA)>